@model LeThanhNam_03.Models.NhanVien

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa dữ liệu</h1>

<h3>Bạn có chắc chắn muốn xóa dữ liệu không?</h3>
<div>
    <h4>NhanVien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhanvien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhanvien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaPhongBan)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNhanVien" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
