@model LeThanhNam_03.Models.PhongBan

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết</h1>

<div>
    <h4>Phòng Ban</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaPhongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhongBan)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaPhongBan">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
